{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row" >
    <h1> {{movie.title}}</h1>
	<img src={{movie.poster}} style="width:400px;">

    <br>
    <h2> Details</h2>
    <p> Judul		: {{ movie.title }} </p>
	<p> Release		: {{ movie.released }} </p>
	<p> Pemeran 	: {{ movie.actors }} </p>
	<p> Genre 		: {{ movie.genre }} </p>
	 <p> Tahun 		: {{ movie.year }} </p>
    <hr>
    <!--<h2> Contoh cara mengambil judul: </h2>
    <h1 style="color:red"> {{ movie.title}} </h1> -->

    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
