{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row" align = "center">
    {% for movie in watch_later_movies %}
	
     <p> Judul		: {{ movie.title }} </p>
	<p> Release		: {{ movie.released }} </p>
	<img src={{movie.poster}} style="width:400px;">
	<p> {{ ' ' }} </p>
    {% endfor %}
</div>
{% endblock %}
