{% extends "lab_7/layout/base.html" %}


{% block javascript %}
    <script>
        $( document ).ready(function () {
			
            $.ajax({
				
                method: "GET",
                url: "{% url "lab-7:get-friend-list" %}",
                success: function (response) {
                    var kawan = response.result; 	//tampilkan list teman ke halaman
					for(i = 0; i<kawan.length; i++){
						var html = '<div>' + 
										'<p class="list-group-item clearfix" style="margin: 0% 25% 0% 12%;">' + kawan[i].friend_name +' (' +  kawan[i].npm + ')' + '<button style="float: right" class="btn btn-primary btn-danger" onClick="deleteFriend(\''+kawan[i].npm+ '\')">Hapus</button> </p>' + 
								   '</div>'
						$("#friend-list").append(html); //hint : gunakan fungsi jquery append()
					}
								
                },
                error: function(error){
                    //tampilkan pesan error
					

                }
            });
        });
		var deleteFriend = function(friend_id) {
           window.open('delete-friend/'+friend_id+'/', '_self');
		   alert("Teman dengan NPM : " + friend_id + " Telah terhapus")
        }

    </script>
{% endblock %}


{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Daftar Teman Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

